<div class="container">
    <!-- Back to the top button -->
    <button (click)="scrollToTop()" id="myBtn" title="Go to top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
        <fa-icon [icon]="faRocket" class="rocket"></fa-icon>
    </button>

    <app-sidebar class="sidebar-container"></app-sidebar>

    <div class="main-container">
        <section class="main-container__header">
            <h1 class="main-container__title"><span class="main-container__title__underline">Jér</span>ôme Baille</h1>
            <h2 class="main-container__subtitle">Développeur Web</h2>
        </section>

        <mat-tab-group mat-stretch-tabs>
            <mat-tab>
              <ng-template mat-tab-label>
                <h2 class="main-container__h2">Projets</h2>
              </ng-template>
              <app-projects></app-projects>
            </mat-tab>
          
            <mat-tab>
              <ng-template mat-tab-label>
                <h2 class="main-container__h2">Experience</h2>
              </ng-template>
                <section class="experience">
                <div class="experience__container">
                    <header class="experience__container__header">
                        <div class="experience__container__logo-container">
                            <img src="./assets/experience/Logo_CA.png" alt="Logo Crédit Agricole du Languedoc">
                        </div>
                        <div>   
                            <h3 class="experience__container__title">Assistant de fonctionnement d'agence</h3>
                            <p class="experience__container__company">Crédit Agricole du Languedoc | 2 ans</p>
                        </div>
                    </header>
                    <div class="experience__container__body">
                        <ul class="experience__container__list">
                            <li>
                                Accueil des clients et vente des différents produits
                            </li>
                            <li>
                                Prise de rendez-vous auprès des conseillers
                            </li>
                            <li>
                                Gestion de la conformité
                            </li>
                            <li>
                                Gestion des opérations courantes (dépôts, retraits et virement) et des espèces
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="divider div-transparent"></div>
    
                <div class="experience__container">
                    <header class="experience__container__header">
                        <div class="experience__container__logo-container">
                            <img src="./assets/experience/Logo_BP-du-sud.jpg" alt="Logo Crédit Agricole du Languedoc">
                        </div>
                        <div>  
                            <h3 class="experience__container__title">Auxiliaire d'accueil</h3>
                            <p  class="experience__container__company">Banque Populaire du sud | 4 mois</p>
                        </div>
                    </header>
                    <div class="experience__container__body">
                        <ul  class="experience__container__list">
                            <li>
                                Accueil du public au sein de l’agence et par téléphone
                            </li>
                            <li>
                                Prise de rendez-vous auprès des conseillers
                            </li>
                            <li>
                                Identification des besoins des clients et présentations des produits répondant à leurs attentes
                            </li>
                            <li>
                                Gestion des opérations courantes (dépôts, retraits et virements)
                            </li>
                            <li>
                                Gestion des différents documents et produits (chéquiers, cartes bancaires…) à délivrer aux clients après vérification de leur identité
                            </li>
                            <li>
                                Gestion du courrier 
                            </li>
                        </ul>
                    </div>
                </div>
                </section>
            </mat-tab>
          
            <mat-tab>
              <ng-template mat-tab-label>
                <h2 class="main-container__h2">Education</h2>
              </ng-template>
                <section class="education">    
                <div class="education__container">
                    <header class="education__container__header">
                        <div class="education__container__logo-container">
                            <img src="./assets/education/Logo_OpenClassrooms.png" alt="Logo OpenClassrooms">
                        </div>
                        <div>                    
                            <h3 class="education__container__title">Développeur Web (titre RNCP niveau 5)</h3>
                            <p class="education__container__company">OpenClassrooms | 2021 - 2022</p>
                        </div>
                    </header>
                </div>

                <div class="divider div-transparent"></div>
    
                <div class="education__container">
                    <header class="education__container__header">
                        <div class="education__container__logo-container">
                            <img src="./assets/education/Logo_Paul-Valery_Montpellier-3.jpg" alt="Logo Logo_Paul-Valery_Montpellier-3">
                        </div>
                        <div>                    
                            <h3 class="education__container__title">Master en Littérature et Civilisation Etrangère et Regionale, spécialité Anglais</h3>
                            <p class="education__container__company">Université de Montpellier 3, Paul-Valéry | 2011 - 2013</p>
                        </div>
                    </header>
                    <div class="education__container__body">
                        <span>
                            Obtention d’un master suite à la soutenance de mémoires centrés sur le théâtre post-moderniste au Royaume-Uni.
                        </span>
                        <ul class="education__container__list">
                            <li>
                                The skirmish of wit : Analyse de la folie dans les pièces Waiting for Godot de Samuel Becket et The Caretaker d’Harold Pinter
                            </li>
                            <li>
                                A mind in chaos suspected of genius : Folie et mathématiques dans Hamlet et King Lear de William Shakespeare, En attendant Godot de Samuel Beckett et Rosencrantz & Guildenstern are dead de Tom Stoppard
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="divider div-transparent"></div>
    
                <div class="education__container">
                    <header class="education__container__header">
                        <div class="education__container__logo-container">
                            <img src="./assets/education/Logo_Unimes.jpg" alt="Logo Université de Nimes">
                        </div>
                        <div>                    
                            <h3 class="education__container__title">Licence en Littérature et Civilisation Etrangère, études Anglophone</h3>
                            <p class="education__container__company">Université de Nîmes, Vauban | 2008 - 2011</p>
                        </div>
                    </header>
                </div>

                <div class="divider div-transparent"></div>

                <div class="education__container">
                    <header class="education__container__header">
                        <div class="education__container__logo-container">
                            <img src="./assets/education/Logo_Dhuoda.jpg" alt="Logo Lycée de Dhuoda">
                        </div>
                        <div>                    
                            <h3 class="education__container__title">Classe préparatoire aux grandes écoles : Physique, Technologie et Sciences de l’ingénieur</h3>
                            <p class="education__container__company"> Lycée Technologique Dhuoda, Nîmes | 2007 - 2008</p>
                        </div>
                    </header>
                </div>

                <div class="divider div-transparent"></div>
    
                <div class="education__container">
                    <header class="education__container__header">
                        <div class="education__container__logo-container">
                            <img src="./assets/education/Logo_Dhuoda.jpg" alt="Logo Lycée de Dhuoda">
                        </div>
                        <div> 
                            <h3 class="education__container__title">Baccalauréat Scientifique, option Sciences de l’ingénieur, spécialité Mathématiques</h3>
                            <p class="education__container__company"> Lycée Technologique Dhuoda, Nîmes | 2007</p>
                        </div>
                    </header>
                </div>
                </section>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>

<footer id="footer">
    <span>Coded with <fa-icon [icon]="faHeart" class="heart"></fa-icon> by Jerome BAILLE</span>
</footer>