<div class="container">
    <!-- Back to the top button -->
    <button (click)="scrollToTop()" id="myBtn" title="Go to top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
        <fa-icon [icon]="faRocket" class="rocket"></fa-icon>
    </button>

    <app-sidebar class="sidebar-container" [lang]="lang"></app-sidebar>

    <div class="main-container">
        <div class="btn-lang__container">
            <button mat-stroked-button (click)="changeLang('en')">EN</button>
            <span class="pipe-divider">|</span>
            <button mat-stroked-button (click)="changeLang('fr')">FR</button>
        </div>
        <section class="main-container__header">
            <h1 class="main-container__title"><span class="main-container__title__underline">Jér</span>ôme Baille</h1>
            <h2 class="main-container__subtitle">{{ lang== 'fr'? "Développeur Web" : "Web Developer" }}</h2>
        </section>

        <mat-tab-group mat-stretch-tabs>
            <mat-tab>
              <ng-template mat-tab-label>
                <h2 class="main-container__h2">{{ lang== 'fr'? "Projets" : "Projects" }}</h2>
              </ng-template>
              <app-projects [lang]="lang"></app-projects>
            </mat-tab>
          
            <mat-tab>
              <ng-template mat-tab-label>
                <h2 class="main-container__h2">Experiences</h2>
              </ng-template>
              <section class="experience">
                  <app-experience [lang]="lang"></app-experience>
              </section>
            </mat-tab>
          
            <mat-tab>
              <ng-template mat-tab-label>
                <h2 class="main-container__h2">Education</h2>
              </ng-template>
              <section class="education">
                <app-education [lang]="lang"></app-education> 
              </section>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>

<footer id="footer">
    <span>Coded with <fa-icon [icon]="faHeart" class="heart"></fa-icon> by Jerome BAILLE</span>
</footer>