// Colors

    // Main
    $primaryColor: #335384;
    $secondaryColor: #5ba7d1;
    $backgroundColor: #f5f5f5;

    // Footer
    $footerText : #545E6C;
    $footerHeart: #B52E31;

    // Rocket go-to-top button
    $bodyRocket : #E43020;
    $flameRocket: #FBB741;