<section class="projects">
    <mat-accordion *ngFor="let project of projectsArray; last as isLast">
        <mat-expansion-panel #panel hideToggle [expanded]="project.boolean">
            <mat-expansion-panel-header>
            <mat-panel-description>
                <div class="projects__container">
                    <button class="btn-invisible">
                    <h3 class="projects__container__title">{{ project.title }}</h3>
                    <ul class="projects__container__list">
                        <li *ngFor="let comp of project.competences">{{ comp }}</li>
                    </ul>
                    <section class="badges-container">
                        <div class="badges-container__category">
                            <img *ngFor="let badge1 of project.badges1" [src]="badge1.src" alt="{{ badge1.alt }}">
                        </div>
                        <div class="badges-container__category">
                            <img *ngFor="let badge2 of project.badges2" [src]="badge2.src" alt="{{ badge2.alt }}">
                        </div>
                        <div class="badges-container__category">
                            <img *ngFor="let badge3 of project.badges3" [src]="badge3.src" alt="{{ badge3.alt }}">
                        </div>
                    </section>
                    </button>
                </div>
            </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="main-container">
                <button mat-icon-button class="close-btn" (click)="panel.toggle()">
                    <mat-icon class="close-btn__icon" color="primary">close</mat-icon>
                </button>
            
                <div class="main-container__logo">
                    <img [src]="project.logo" alt="{{ project.altLogo }}">
                </div>
            
                <p>{{ project.description }}</p>
                
                <figure *ngFor="let dialog of project.dialog">
                    <button mat-button (click)="openDialog(dialog.name)">
                        <img [src]="dialog.src" alt="{{ dialog.alt }}" class="template">
                    </button>
                    <figcaption>{{ dialog.figcaption }}</figcaption>
                </figure>

                <mat-chip-list class="mat-chip-list-stacked" aria-label="Project links">
                    <mat-chip color="primary" selected>
                        <a [href]="project.github" target="_blank">
                            <fa-icon [icon]="faGithub"></fa-icon>
                            <span>{{ lang=="fr"? "Dépôt Github" : "GitHub Repository" }}</span>
                        </a>
                    </mat-chip>
                    <mat-chip *ngIf="project.demo">
                        <a [href]="project.demo" target="_blank">
                            <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                            <span>{{ lang=="fr"? "Site de démonstration" : "Demo Website" }}</span>
                        </a>
                    </mat-chip>
                </mat-chip-list>
                <button mat-raised-button color="primary" (click)="panel.toggle()">Fermer</button>
            </div>
        </mat-expansion-panel>

        <div *ngIf="!isLast" class="divider"></div>
</mat-accordion>
</section>