<div class="main-container">
    <button mat-icon-button class="close-button" (click)="closeMe()">
        <mat-icon class="close-icon" color="primary">close</mat-icon>
    </button>

    <div class="main-container__logo">
        <img src="../../assets/booki/booki-logo.png" alt="Booki logo">
    </div>

    <p>
        Booki est une petite entreprise proposant un outil de planification de vacances ! Son site permet aux usagers de trouver des hébergements et des activités dans la ville de leur choix. Les hébergements peuvent également être filtrés par thématique, par exemple leur budget ou leur ambiance.
    </p>
    
    <figure>
        <button mat-button (click)="openDialog('desktop')">
            <img src="../../assets/booki/booki-desktop-thumbnail.jpg" alt="Desktop template" class="template">
        </button>
        <figcaption>Maquette version Desktop</figcaption>
    </figure>

    <figure>
        <button mat-button (click)="openDialog('mobile')">
            <img src="../../assets/booki/booki-mobile-thumbnail.jpg" alt="Mobile template" class="template">
        </button>
        <figcaption>Maquette version Mobile</figcaption>
    </figure>

    <footer>
        <a href="https://github.com/Jerome-Baille/JeromeBAILLE_19112021" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
            <span> Voir le repository du projet</span>
        </a>
        <a href="https://jerome-baille.github.io/JeromeBAILLE_19112021/" target="_blank">
            <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
            <span> Voir une démo live</span>
        </a>
    </footer>
    <button mat-raised-button color="primary" (click)="closeMe()">Fermer</button>
</div>