<div class="profile-container">
    <img src="assets/profile-picture.JPG" alt="Profile picture" class="profile-container__picture">
</div>
<section class="contact-container">
    <h2 class="contact-container__title">Contact</h2>
    <div class="contact-container__element">
        <fa-icon [icon]="faLocationDot"></fa-icon>
        <p>16 impasse des Caravelles 30900 Nîmes FRANCE</p>
    </div>
    <div class="contact-container__element">
        <fa-icon [icon]="faEnveloppe"></fa-icon>
        <a href="#" class="cryptedmail"
            data-name="baille.jerome"
            data-domain="gmail"
            data-tld="com"
            onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;"></a>
    </div>
    <div class="contact-container__element">
        <fa-icon [icon]="faPhone"></fa-icon>
        <a *ngIf="lang=='fr'" href="tel:+33618270561">06 18 27 05 61</a>
        <a *ngIf="lang=='en'" href="tel:+33618270561">+33 6 18 27 05 61</a>
    </div>
    <div class="contact-container__element">
        <fa-icon [icon]="faLinkedinIn"></fa-icon>
        <a href="http://www.linkedin.com/in/jerome-baille/" target="_blank">Jerome-baille</a>
    </div>            
    <div class="contact-container__element">
        <fa-icon [icon]="faGithub"></fa-icon>
        <a href="https://github.com/Jerome-Baille" target="_blank">Jerome-Baille</a>
    </div>            
    <div class="contact-container__element">
        <fa-icon [icon]="faFilePdf"></fa-icon>
        <a *ngIf="lang=='fr'" href="assets/pdf/Jerome Baille - CV 2022 - FR.pdf" target="_blank">CV au format PDF</a>
        <a *ngIf="lang=='en'" href="assets/pdf/Jerome Baille - CV 2022 - EN.pdf" target="_blank">PDF Resume</a>
    </div>            
</section>

<section class="competences-container">
    <h2 class="competences-container__title">Hard skills</h2>

    <h4 class="competences-container__hard-skills__title">Front-end</h4>
    <p class="competences-container__hard-skills__element mb-0">Angular 13 | Django | HTML 5 | CSS 3</p>
    <p class="competences-container__hard-skills__element">Sass | Bootstrap 5 | Angular Material</p>

    <h4 class="competences-container__hard-skills__title">Back-end</h4>
    <p class="competences-container__hard-skills__element">JavaScript | NodeJS | Express | Python</p>

    <h4 class="competences-container__hard-skills__title">{{ lang== 'fr'? "Base de données" : "DataBase"}}</h4>
    <p class="competences-container__hard-skills__element">SQL | MySQL | PostgreSQL | MongoDB</p>

    <h4 class="competences-container__hard-skills__title">{{ lang== 'fr'? "Outils" : "Tools" }}</h4>
    <p class="competences-container__hard-skills__element">Git | Github | Visual Studio Code</p>
</section>

<section class="competences-container">
    <h2 class="competences-container__title">Soft skills</h2>
    <ul class="competences-container__soft-skills">
        <li *ngFor="let soft of softArray">{{ soft }}</li>
    </ul>
    <!-- <h2 class="competences-container__title">Compétences</h2>
    <ul>
        <li>
            Intégrer du contenu conformément à une maquette
        </li>
        <li>
            Implémenter une interface responsive
        </li>
        <li>
            Utiliser un système de gestion de versions pour le suivi du projet et son hébergement
        </li>
        <li>
            Optimiser le référencement d'un site web
        </li>
        <li>
            Créer un plan de test pour une application
        </li>
        <li>
            Interagir avec un web service avec JavaScript
        </li>
        <li>
            Mettre en œuvre des opérations CRUD de manière sécurisée
        </li>
        <li>
            Authentifier un utilisateur et maintenir sa session
        </li>
        <li>
            Implémenter un stockage de données sécurisé en utilisant SQL
        </li>
    </ul> -->
</section>

<section class="languages-container">
    <h2 class="languages-container__title">{{ lang=='fr'? "Langages" : "Languages" }}</h2>

    <ul class="languages-container__list">
        <li *ngFor="let lang of langArray">
            {{ lang.name}}
            <span class="detail-lang">({{ lang.level }})</span>
        </li>
    </ul>
</section>