<div class="main-container">
    <button mat-icon-button class="close-button" (click)="closeMe()">
        <mat-icon class="close-icon" color="primary">close</mat-icon>
    </button>

    <div class="main-container__logo">
        <img src="../../assets/kanap/logo.png" alt="Kanap logo">
    </div>

    <p>
        Kanap est une marque de canapés qui vend ses produits depuis sa boutique exclusivement. Aujourd’hui, celle-ci souhaitait avoir une plateforme de e-commerce en plus de sa boutique physique pour vendre ses produits sur Internet.
    </p>
    
    <figure>
        <button mat-button (click)="openDialog('listOfProducts')">
            <img src="../../assets/kanap/list-of-products.jpeg" alt="liste des produits" class="template">
        </button>
        <figcaption>Liste des produits</figcaption>
    </figure>

    <figure>
        <button mat-button (click)="openDialog('singlePage')">
            <img src="../../assets/kanap/single-product-page.jpeg" alt="vue détaillée d'un produit" class="template">
        </button>
        <figcaption>Vue détaillée d'un produit</figcaption>
    </figure>

    <figure>
        <button mat-button (click)="openDialog('cart')">
            <img src="../../assets/kanap/cart.jpeg" alt="page panier" class="template">
        </button>
        <figcaption>Page panier</figcaption>
    </figure>

    <figure>
        <button mat-button (click)="openDialog('orderConfirmation')">
            <img src="../../assets/kanap/order-number.jpeg" alt="confirmation de commande" class="template">
        </button>
        <figcaption>Page de confirmation de commande</figcaption>
    </figure>

    <footer>
        <a href="https://github.com/Jerome-Baille/JeromeBaille_5_03012022" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
            <span> Voir le repository du projet</span>
        </a>
        <!-- <a href="https://jerome-baille.github.io/JeromeBAILLE_19112021/" target="_blank">
            <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
            <span> Voir une démo live</span>
        </a> -->
    </footer>
    <button mat-raised-button color="primary" (click)="closeMe()">Fermer</button>
</div>