<div class="main-container">
    <button mat-icon-button class="close-button" (click)="closeMe()">
        <mat-icon class="close-icon" color="primary">close</mat-icon>
    </button>

    <div class="main-container__logo">
        <img src="../../assets/groupomania/icon-above-font.png" alt="groupomania logo">
    </div>

    <p>
        Groupomania est un groupe spécialisé dans la grande distribution.
        Le projet consiste à construire un réseau social interne pour les employés de Groupomania. Le but de cet outil est de faciliter les interactions entre collègues.
    </p>
    
    <figure>
        <button mat-button (click)="openDialog('groupomaniaIndex')">
            <img src="../../assets/groupomania/groupomania-landpage.jpeg" alt="page d'accueil groupomania" class="template">
        </button>
        <figcaption>Page d'accueil Groupomania</figcaption>
    </figure>

    <figure>
        <button mat-button (click)="openDialog('groupomaniaListOfProducts')">
            <img src="../../assets/groupomania/groupomania-post-list.jpeg" alt="liste des posts" class="template">
        </button>
        <figcaption>Liste des différentes publications</figcaption>
    </figure>

    <figure>
        <button mat-button (click)="openDialog('groupomaniaSinglePage')">
            <img src="../../assets/groupomania/groupomania-single-page.jpeg" alt="vue détaillée d'un post" class="template">
        </button>
        <figcaption>Vue détaillée d'une publication</figcaption>
    </figure>

    <figure>
        <button mat-button (click)="openDialog('groupomaniaProfile')">
            <img src="../../assets/groupomania/groupomania-profile.jpeg" alt="vue détaillée d'un profil" class="template">
        </button>
        <figcaption>Vue détaillée d'un profil utilisateur</figcaption>
    </figure>

    <figure>
        <button mat-button (click)="openDialog('groupomaniaAdmin')">
            <img src="../../assets/groupomania/groupomania-admin-dashboard.jpeg" alt="page de gestion administrateur" class="template">
        </button>
        <figcaption>Page de gestion administrateur</figcaption>
    </figure>

    <footer>
        <a href="https://github.com/Jerome-Baille/JeromeBaille_7_23022022" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
            <span> Voir le repository du projet</span>
        </a>
        <!-- <a href="https://jerome-baille.github.io/JeromeBAILLE_19112021/" target="_blank">
            <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
            <span> Voir une démo live</span>
        </a> -->
    </footer>
    <button mat-raised-button color="primary" (click)="closeMe()">Fermer</button>
</div>